<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BreakICE</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/landing-page.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700, 400" rel="stylesheet" type="text/css">


</head>

<body>
	<div style="margin-bottom:75px;">
	    <nav class="navbar navbar-fixed-top topnav" style="background-color: white;">
	        <div class="container topnav">
	            <div class="navbar-header">
	                <a class="navbar-brand topnav" href="#"><img src="img/logo-03.png" alt="" height="42px" style="padding-left: 10px;"></a>
	            </div>
	        </div>
	    </nav>
	</div>


    <div class="intro-header">
        <div class="container">
            <div class="row">
                    <div class="intro-message">
                        <h1>Make the right<br> first impression</h1>
                    </div>
                </div>
        </div>
    </div>
    
    <form action="/" method="post" accept-charset="utf-8" class="form" role="form">
    <div class="search-bg" style="background-color: #227b9e;">
    	<div class="container" style="text-align:right; padding-right:50px;"><img src="img/search-up-01.png" style="margin-top:-60px;"></div>
	    	<div class="container search-bar" style="padding: 50px 10px 80px 10px; color: white;">
	    		<h3>I'm going to meet</h3>
	    		<span class="inline">
		    		<h1>
		    			<span class="inline">
							<input type="text" placeholder="NAME" style="width:300px; margin: 0px 5px 5px 0px;" name="name"></input>
			    			<input type="text" placeholder="TITLE" style="width:300px; margin: 0px 5px 5px 0px;"></input>
			    			<input type="text" placeholder="COMPANY" style="width:300px; margin: 0px 5px 5px 0px;" name="company"></input>
			    			<input type="text" placeholder="LOCATION" style="width:300px; margin: 0px 5px 5px 0px;"></input>
			    			<input type="text" placeholder="KEYWORD" style="width:300px; margin: 0px 5px 5px 0px;"></input>
						</span>
		    		</h1>
		    	</span>
	    		<br>
		   		<div>
		    		<span class="inline">
			    		<button class="btn" style="background-color:#8cc63e; margin:0px 20px 10px 0px;" type="submit">SEARCH</button>
              <!--
			    		<button class="btn" style="background-color:#56b7e8; margin:0px 20px 10px 0px;" data-toggle="collapse" data-target="#title"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> TITLE</button>
			    		<button class="btn" style="background-color:#56b7e8; margin:0px 20px 10px 0px;" data-toggle="collapse" data-target="#company"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> COMPANY</button>
			    		<button class="btn" style="background-color:#56b7e8; margin:0px 20px 10px 0px;" data-toggle="collapse" data-target="#location"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> LOCATION</button>
			    		<button class="btn" style="background-color:#56b7e8; margin:0px 20px 10px 0px;" data-toggle="collapse" data-target="#keyword"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> KEYWORD</button>
		    		  -->
            </span>
	    		</div>
	    	</div>
    	</div>
    </div>
    </form>

    <div class="container">
    	<div style="text-align:center; color:#227b9e; padding:30px 10px;">
			<h2>Why Break<span style="color:#56b7e8;">ICE</span>?</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center;">
					<div class="why-pic">
						<img src="img/why-01.png" style="width:100%;">
					</div>
					<div class="why-text" style="margin-top:-25px;">
						<h3>KNOW</h3><h4 style="color:#56b7e8;">Know what matters most</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center;">
					<div class="why-pic">
						<img src="img/why-02.png" style="width:100%;">
					</div>
					<div class="why-text" style="margin-top:-25px;">
						<h3>CONNECT</h3><h4 style="color:#56b7e8;">Connect with influencers effectively</h4>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4" style="text-align:center;">
					<div class="why-pic">
						<img src="img/why-03.png" style="width:100%;">
					</div>
					<div class="why-text" style="margin-top:-25px;">
						<h3>TALK</h3><h4 style="color:#56b7e8;">Have smarter conversations</h4>
					</div>
				</div>
			</div>
		</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>

<footer style="border-top: 1px solid #e7e7e7;">
	<div class="container" style="padding:20px; color:#227b9e;">
		<p>&copy; BreakICE<br> AngelHack Hong Kong 2016</p>
	</div>
</footer>

</html>