<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>BreakICE</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/landing-page.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:700, 400" rel="stylesheet" type="text/css">


</head>

<body>
	<div style="margin-bottom:75px;">
	    <nav class="navbar navbar-fixed-top topnav" style="background-color: white;">
	        <div class="container topnav">
	            <div class="navbar-header">
	                <a class="navbar-brand topnav" href="#"><img src="img/logo-03.png" alt="" height="42px" style="padding-left: 10px;"></a>
	            </div>
	        </div>
	    </nav>
	</div>


	<div style="background-color:#227b9e; color:white;">
		<div class="container" style="padding:40px 20px;">
			<div class="row" style="text-align:right; padding:0px 20px;">
				<button class="btn" style="background-color:#56b7e8; margin:0px 20px 10px 0px;" data-toggle="collapse" data-target="#bio">BIO</button>
				<!-- <form action="/" method="post" accept-charset="utf-8" class="form" role="form"> -->
					<a href="/" class="btn btn-hover" style="background-color:#8cc63e; margin:0px 20px 10px 0px;">SEARCH AGAIN</a>
				<!-- </form> -->
			</div>
			<div class="row" style="text-align:center; padding-top:20px;">
				<div class="col-xs-3 col-sm-4 col-md-5">
				</div>
				<div class="col-xs-6 col-sm-4 col-md-2">
					<img src="<%= tweetimgURL %>" style="width:100%;">
				</div>
				<div class="col-xs-3 col-sm-4 col-md-5">
				</div>
			</div>
			<div style="text-align:center;">
				<h3><%= tweetName %></h3>
				<h4><%= tweetDescription %></h4>
			</div>
			<div id="bio" class="collapse">
				<div class="row" style="padding:0px 15px; text-align:center;">
					<h5 style="line-height: 150%;"></h5>
				</div>
			</div>
		</div>
	</div>

	<div class="container" style="padding:50px 20px;">
		<div class="row">
		<div class="col-sm-6" style="padding-bottom:50px;">
		<ul class="nav nav-tabs">
		  <li class="active"><a data-toggle="tab" href="#menu1">Likes</a></li>
		  <li><a data-toggle="tab" href="#menu2">Dislikes</a></li>
		</ul>

		<div class="tab-content">
			<div id="menu1" class="tab-pane fade in active">
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
					<% positiveList.forEach(function(item){ %>
						<div class="positive" style="padding-top:20px; margin-bottom:-25px;">
							<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 
							<b><%= item.text %> - <%- item.type %> -
							<% if(item.disambiguated){ %> 
								<p style="font-size:50%;"><%= item.disambiguated.dbpedia %></p>
							<% } %>
							</b></h3>
						</div>
					<% }); %>
					</div>
					<div class="col-md-1">
					</div>
				</div>
			</div>
			<div id="menu2" class="tab-pane fade">
				<div class="row">
					<div class="col-md-1">
					</div>
					<div class="col-md-10">
					<% negativeList.forEach(function(item){ %>
						<div class="negative" style="padding-top:20px; margin-bottom:-25px;">
							<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							<b><%= item.text %> - <%- item.type %> -
							<% if(item.disambiguated){ %> 
								<p><%= item.disambiguated.dbpediaJson %></p>
							<% } %>
							</b></h3>
						</div>
					<% }); %>
					</div>
					<div class="col-md-2">
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="col-sm-6" style="border-left: 1.2px solid #dddddd; padding:0px 20px;">
				<div class="d" style="border-top: 1.5px solid #ddd; border-bottom: 1.5px solid #ddd; padding:20px 0px;">
					<div class="d">
						<h3 style="color:#227b9e;text-align:center;"><b>Know deeper</b></h3>
						<p style="text-align:center;"> (click on left items)</p>
					</div>
					<div id="p1" class="collapse">
						<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <b>POSITIVE 1</b></h3>
						<p>123</p>
						<h4>Relevant articles:</h4>
						<p>(Sample article)</p>
					</div>
					<div id="p2" class="collapse">
						<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <b>POSITIVE 2</b></h3>
						<p>123</p>
						<h4>Relevant articles:</h4>
						<p>(Sample article)</p>
					</div>
					<div id="p3" class="collapse">
						<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <b>POSITIVE 3</b></h3>
						<p>123</p>
						<h4>Relevant articles:</h4>
						<p>(Sample article)</p>
					</div>
					<div id="n1" class="collapse">
						<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <b>NEGATIVE 1</b></h3>
						<p>123</p>
						<h4>Relevant articles:</h4>
						<p>(Sample article)</p>
					</div>
					<div id="n2" class="collapse">
						<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <b>NEGATIVE 2</b></h3>
						<p>123</p>
						<h4>Relevant articles:</h4>
						<p>(Sample article)</p>
					</div>
					<div id="n3" class="collapse">
						<h3 style="color:#227b9e;"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <b>NEGATIVE 3</b></h3>
						<p>123</p>
						<h4>Relevant articles:</h4>
						<p>(Sample article)</p>
					</div>
				</div>
				<div class="q" style="padding-top:20px;">
					<div class="qh">
						<h3 style="color:#227b9e;text-align:center;"><b>You can ask</b></h3>
					</div>
					<div class="qb">
						<p style="text-align:center;">(We intend to use data sources like Quora, Reddit, etc, to list these questions)</p>
						<p></p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>

<footer>
	<div style="border-top: 1px solid #e7e7e7;">
		<div class="container" style="padding:20px; color:#227b9e;">
			<p>&copy; BreakICE<br> AngelHack Hong Kong 2016</p>
		</div>
	</div>
</footer>

</html>