/*
 * Base structure
 */



/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar#common{
  margin-bottom: 0px;
  background-color: rgb(255,102,0); 
}

.navbar-brand {
  padding: 0px 10px;
}

.navbar #logo {
  height: 50px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-nav a{
  color: white;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: grey;
}
  
.navbar a {
    color: white;
}

.navbar-nav > #fat{
  padding-left:20px;
  padding-right:20px;
}

.btnOrange {
    color: white;
    background-color: rgb(255,102,0);
}

.foo {
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    left: 0;
    z-index: 500;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: white;
    border-right: 1px solid #eee;
  }
}

footer {
  z-index:600;
  width:100%;
  height: 60px;
  background-color:rgb(51,51,51);
  padding-left:0px;
  padding-right:0px;
  margin-left:0;
  margin-right:0;
}

footer .footer-text {
    margin: 20px 0px;
    color:white;
    font-weight: bold;
  }

footer .social-media {
  vertical-align:middle;
  font-size:1.5em;
  color:rgb(255,102,0);
  margin:20px 0px;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
  color: rgb(224, 108, 20);
}

.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
