
body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.topnav {
    font-size: 16px; 
    padding: 5px;
    text-align: center;
    opacity: 0.95;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: right;
    color: #f8f8f8;
    background: url(../img/intro-bg-01.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 30%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 4em;
}


@media(max-width:767px) {
    .intro-message {
        padding-bottom: 10%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }
}

input {
    background-color: rgba(0,0,0,0);
    color: white;
    border: none;
}

.search-bar h3 {
    font-weight: lighter;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d1d2d4;
    font-weight: lighter;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d1d2d4;
   font-weight: lighter;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d1d2d4;
   font-weight: lighter;
   opacity:  1;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.btn-hover {
    color:white;
}

.btn-hover:hover {
    color:black;
}