/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

.navbar#common{
  margin-bottom: 0px;
  background-color: rgb(255,102,0); 
}

.navbar-brand {
  padding: 0px 10px;
}

.navbar #logo {
  height: 50px;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-nav a{
  color: white;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: grey;
}
  
.navbar a {
    color: white;
}

.navbar-nav > #fat{
  padding-left:20px;
  padding-right:20px;
}

.btnOrange {
    color: white;
    background-color: rgb(255,102,0);
}

.foo {
    color: white;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

/* COVER CUSTOMIZATION
-------------------------------------------------- */

.cover {
  background: no-repeat center right fixed url(../img/profile_cover.jpg);
  background-size: 100%;     
  background-size: cover;
  height: 30vh;
      
  margin: 0px;
  padding: 0px;
}

/* PROFILE CUSTOMIZATION
-------------------------------------------------- */

.profile #profile{
  border-radius: 50%;
  border: 8px solid white;
  margin-top: -30%;
}

.profile #valid {
  background-color: green;
}

.profile #invalid {
  background-color: red;
}

.profile .rating#main {
  margin-top: 10px;
  text-align: right;
}
.profile .service_title {
  margin-top: 0px;
}

.profile .quickinfo {
  border-radius: 25px;
  border: 2px solid lightgrey;
}

.profile .review {
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile .review h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.profile .review_profile {
  border-radius: 50%;
}

.profile .booking {
  padding: 10px;
  margin-top: 20px;
  
  /*border-radius: 25px;*/
  border: 2px solid lightgrey;
}

.profile .price {
  background-color: #607D8B;
}

.profile .skill_label{
  display: inline;
}

/* CUSTOMIZE SEARCH
-------------------------------------------------- */

.skill_select {
  margin-bottom: 20px;
}

#map {
  height: 100vh;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

footer {
  z-index:600;
  width:100%;
  height: 60px;
  background-color:rgb(51,51,51);
  padding-left:0px;
  padding-right:0px;
  margin-left:0;
  margin-right:0;
}

footer .footer-text {
    margin: 20px 0px;
    color:white;
    font-weight: bold;
  }

footer .social-media {
  vertical-align:middle;
  font-size:1.5em;
  color:rgb(255,102,0);
  margin:20px 0px;
}
